body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5; /* Dark background color */
    color: black; /* Light text color */
}

header {
    background-color: #5AA7B9; /* Blue background color for header */
    color: black;
    text-align: left;
    padding: 1px 0;
    padding-left: 20px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color:#5AA7B9; /* Darker background color */
    margin: 20px;    
    border-radius: 5%;
}
.hero-section:hover{
    background-color: #513A6B;
    color: #BEFA4F;
    transition: background-color 0.3s ease;
}
.hero-text {
    width: 55%;
    line-height: 1.2;
    font-size: 20px; /* Increased font size */
    text-align: justify;
    padding-right: 50px;
}

.hero-image {
    width: 45%;
    border-radius: 8px;
    overflow: hidden;
}

#selected-image{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.cta-buttons {
    display: flex;
    align-items: center;
}

.select-image-button,
.cta-button {
    background-color: #5AA7B9; /* Red background color for the button */
    color: #BEFA4F;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.select-image-button:hover,
.cta-button:hover {
    background-color: #513A6B;
    color: #BEFA4F;
}

img {
    width: 50px;
    height: 50px;
    margin: -15px 0;
}